/* Header */
.tentangkami .header {
    position: relative;
    overflow: hidden;
  }
  
  .tentangkami-header-box {
    padding-top: 10rem;
    position: relative;
    z-index: 1;
  }
  
  .bg-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  .logo-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
  }
  
  .tentangkami h1 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-text);
  }
  
  .tentangkami .thin-text {
    font-weight: 300;
  }
  
  .tentangkami h4 {
    text-align: left;
    padding-top: 5rem;
    color: var(--color-text);
    padding-bottom: 5rem;
  }
  
  /* Visi Misi */
  .visi-misi {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color-text);
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .visi-misi h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .visi-misi p {
    font-size: 1rem;
  }
  
  .d-flex.justify-content-center.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  
  .tentangkami-misi-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: calc(100% / 3 - 25px);
    max-width: 300px;
  }
  
  .tentangkami-misi-item img {
    width: 250px;
    height: 250px;
  }
  
  .tentangkami-misi-item h4 {
    font-size: 25px;
    color: white;
    text-align: center;
  }
  
  /* Team */
  .tentangkami-team h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-left: 2rem;
  }
  
  .tentangkami-team h4 {
    padding-top: 0.2rem;
    padding-left: 2rem;
    text-align: end;
  }
  
  .tentangkami-team img {
    max-width: 100%;
    padding-top: 16px;
  }
  
  .text-berinovatif {
    color: var(--primary-color);
  }
  
  .text-kualitas {
    color: var(--secondary-color);
  }
  
  /* People Section */
  .tentangkami-person {
    background-color: var(--secondary-color-text);
    padding: 20px 0;
  }
  
  .tentangkami-person h1 {
    font-size: 3rem;
    color: var(--color-text);
  }
  
  .tentangkami-person h1 span {
    font-weight: bold;;
    color: #000;
  }
  
  .tentangkami-team-images {
    margin-top: 30px;
  }
  
  .tentangkami-people {
    margin-bottom: 50px;
  }
  
  .tentangkami-people img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tentangkami-people h3 {
    margin-top: 20px;
    font-size: 2rem;
    color: #000;
  }
  